name: Publish

on:
  workflow_run:
    workflows: ["Node CI"]
    types: [completed]
    branches: [master]

permissions:
  id-token: write
  contents: read

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup latest Node.JS LTS
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install dependencies
        run: yarn

      - name: Publish to npm
        uses: changesets/action@v1
        with:
          publish: yarn release
